<!-- Footer -->
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="text-center text-xl-left ">
        <a href="https://github.com/AbdulAhadSiddiqui11/covidTracker" class="font-weight-bold ml-1 text-muted"
          target="_blank">covid-19 Tracker</a>
      </div>
    </div>
  </div>
</footer>

<footer class="footer text-light" style="background-color: #8566aa;">
  <div class="container">
      <div class="row">
          <div class="col-4 offset-1 col-sm-2">             
              <h5>Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="./maps.html">Nearby Hospitals</a></li>
                  <li><a href="./stats.html">Covid Stats</a></li>
                  <li><a href="./data.html">Data</a></li>
              </ul>
          </div>
          <div class="col-7 col-sm-5">
              <h5>Our Address</h5>
              <address>
                  221B, Baker Street<br>
                  <i class="fa fa-phone fa-lg"></i>: +91 8125 825 896<br>
                  <i class="fa fa-fax fa-lg"></i>: +91 9290 902 834<br>
                  <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:abdulahadsiddiqui11@gmail.com">confusion@food.net</a>
              </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/abdulahadsiddiqui11"><i class="fa fa-linkedin"></i></a>
              <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
              <a class="btn btn-social-icon" href="mailto:abdulahadsiddiqui11@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
          </div>
          </div>
      </div>
      <div class="row justify-content-center">             
              <div class="col-auto">
                  <p>© Copyright 2020 Covid Tracker</p>
              </div>
      </div>
  </div>
</footer>