<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>
      COVID-19 Dashboard | Maps
    </title>

    <!-- Favicon - loaded as static -->
    <link href="{% static 'assets/img/brand/favicon.ico' %}" rel="icon" type="image/png">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/189832a678.js" crossorigin="anonymous"></script>
    <link href="/static/assets/css/style.css?v=1.1.0" rel="stylesheet" />
    
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
    
    {% endblock stylesheets %}

  </head>

  <body class="">

    {% include "includes/sidenav.html" %}

    <div class="main-content">
      <div class = "container" id='main'>
        <div class="jumbotron jumbotron-fluid mt-3  background">
          <div class="container ">
            <h1 class="display-4 text-center text ">Nearby Hospitals Locator</h1>
          </div>
        </div>
        <form action="/getHospitals" method="post">
          <div class="card">
            <div class="card-body mt-3" id="btn-predict">>
              <label for="last">Please enter your location</label>
                <input type="text" class="form-control" name="loc" id="loc">
      
              <hr>
            </div>
          </div>
          <input class ="btn btn-primary mt-3 btn-block mb-5 background" id='submit-btn' type="submit" value="Submit">
        </form>
      </div>
    </div>
    <!--   Core   -->
    <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const api = '/getHospitals';
      let parent = document.getElementById('main');
      let hospitals = document.createElement('p');
      const submitButton = document.getElementById('submit-btn');
      const loca = 'hyderbad';

      function makeRequest(verb, url, data) {
        return new Promise((resolve, reject) => {
          if(verb === 'POST' && !data) {
            reject({error : 'No data to provided for a post request!'});
          }
          if(verb !== 'POST' && verb !== 'GET') {
            reject({error : 'Invalid request!'});
          }
          let request = new XMLHttpRequest();
          request.open(verb, url);
          request.onreadystatechange = () => {
            if (request.readyState === 4) {
              if (request.status === 200 || request.status === 201) {
                console.log(JSON.parse(request.response))
                resolve(JSON.parse(request.response));
              } else {
                reject(JSON.parse(request.response));
              }
            }
          };
          if (verb === 'POST') {
            request.setRequestHeader('Content-Type', 'application/json');
            request.send(JSON.stringify(data));
          } else {
            request.send();
          }
        });
      }

      async function createPost(){
        const postPromise = makeRequest('POST', api, {
          'loc' : document.getElementById('loc').value
        });
          
        try {
          const postResponse = await postPromise;

          console.log(postPromise);
          hospitals.textContent = postResponse['hospitals'];
          console.log(postPromise['hospitals']);
          parent.appendChild(hospitals);
        } catch(error) {
          hospitals.textContent = error.error;
          parent.appendChild(hospitals);
        }
      }
      

      submitButton.addEventListener('click', ($event) => {
        $event.preventDefault();
        console.log("hello");
        console.log(loca);
         createPost();
      });

    </script>
  </body>
</html>
